<!-- 뼈대가 되는 html  -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈화면</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" </head>

    <script>
        function openModal() {
            const modal = document.getElementById('junglers-modal');

            modal.classList.remove('hidden');
            modal.classList.add('flex');
        }

        function closeModal() {
            const modal = document.getElementById('junglers-modal');

            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    </script>

<body>
    <!-- 헤더 -->
    {% include 'components/header.html' %}

    <!-- 화면 비율 상속 -->
    {% extends "base.html" %}
    {% block content %}

    <div class="flex gap-4 py-7">
        <button onclick="openModal()"
            class="font-bold text-center w-full h-100 rounded-[20px] px-6 py-5 bg-white text-black shadow-md hover:bg-[#BFDDB8] transition">
            다른 정글러에게 보내기
        </button>
        <button
            class="font-bold text-center w-full h-100 rounded-[20px] px-4 py-2 bg-white text-black shadow-md hover:bg-[#BFDDB8] transition">
            미래의 나에게 보내기
        </button>
    </div>

    <!-- 다른 정글러에게 보내기 -->
    <div id="junglers-modal" class="hidden fixed inset-0 z-50 items-center  justify-center bg-black/40 px-4 py-4">
        <div class="w-full max-w-md bg-[#BFDDB8] rounded-3xl shadow-2xl py-6 px-6">
            <div class="flex justify-between items-center">
                <p class="text-black text-left mb-1">
                    KRAFTON JUNGLE 13기 - SW/AI<br />
                    타임캡슐을 전해 줄 정글러를 선택해주세요.
                </p>
                <button type="button" class="top-2 right-2 text-gray-500 hover:text-gray-700"
                    onclick="closeModal()">x</button>
            </div>

            <div class="border-t border-gray-400 mb-4"></div>

            <div class="grid grid-cols-5 gap-4">

                <button type="button" class="w-fit bg-white rounded-[20px] shadow-md p-4 text-sm
                    hover:bg-[#F3F8F1] transition cursor-pointer">
                    정글러 1
                </button>

            </div>
        </div>

        {% endblock %}

</body>

</html>