<!-- 뼈대가 되는 html  -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈화면</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" </head>

    <script>
        function openModal() {
            const modal = document.getElementById('modal');

            modal.classList.remove('hidden');
            modal.classList.add('flex');
        }

        function closeModal() {
            const modal = document.getElementById('modal');

            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }
    </script>

<body>
    <!-- 헤더 -->
    {% include 'components/header.html' %}

    <!-- 화면 비율 상속 -->
    {% extends "base.html" %}
    {% block content %}

    <div class="flex gap-4">
        <div class="w-1/2 grid grid-cols-2 gap-4">
            <button type="button" onclick="location.href=`{{ url_for('create_choice') }}`"
                class="font-bold text-left w-full h-100 rounded-[20px] px-4 py-2 bg-white text-black shadow-md hover:bg-[#BFDDB8] transition">
                캡슐 생성
            </button>
            <button type="button" onclick="openModal()"
                class="font-bold text-left w-full h-100 rounded-[20px] px-4 py-2 bg-white text-black shadow-md hover:bg-[#BFDDB8] transition">
                오늘의 질문 생성
            </button>
            <button
                class="font-bold text-left w-full col-span-2 h-100 px-4 py-2 bg-white text-black rounded-[20px] shadow-md hover:bg-[#BFDDB8] transition"
                onclick="location.href=`{{ url_for('capsule_storage') }}`">
                나의 캡슐 보관함
            </button>
        </div>


        <div class="w-[40%] grid grid-cols-2 gap-4">

            <!-- 오늘의 질문 -->
            <div class="col-span-2 h-100 px-4 py-2 text-black">
                <h2 class="font-bold text-left text-xl">오늘의 질문 (2026.8.25(화))</h2>
                <p class="text-left text-xl">"오늘 고마운 사람이 있나요?"</p>
            </div>

            <!-- 대시보드  -->
            <button
                class="font-bold text-left w-full h-50 px-4 py-2 bg-white text-black rounded-[20px] shadow-md hover:bg-[#BFDDB8] transition">
                오늘 열 수 있는 캡슐 개수
                <num class="text-2xl font-bold text-black">3</num>
            </button>
            <button
                class="font-bold text-left w-full px-4 py-2 bg-white text-black rounded-[20px] shadow-md hover:bg-[#BFDDB8] transition">
                오늘 받은 캡슐 개수
                <num class="text-2xl font-bold text-black">3</num>
            </button>

            <button
                class="font-bold text-left w-full h-50 px-4 py-2 bg-white text-black rounded-[20px] shadow-md hover:bg-[#BFDDB8] transition">
                오늘 작성한 캡슐 개수
                <num class="text-2xl font-bold text-black">3</num>
            </button>
            <button
                class="font-bold text-left w-full px-4 py-2 bg-white text-black rounded-[20px] shadow-md hover:bg-[#BFDDB8] transition">
                미정
                <num class="text-2xl font-bold text-black">3</num>
            </button>
        </div>
    </div>

    <!-- 팝업 박스 -->
    <div id="modal" class="hidden fixed inset-0 z-50 items-center  justify-center bg-black/40 px-4 py-4">
        <div class="w-full max-w-md bg-[#BFDDB8] rounded-3xl shadow-2xl p-6">
            <h2 class="text-2xl font-bold text-black">오늘의 질문 등록하기</h2>
            <p class="text-black text-left mb-1">
                모든 정글러가 함께 답할 질문을 작성해주세요.<br />
                정글에서의 생각과 순간을 기록할 수 있는 질문이면 더 좋아요.
            </p>

            <div class="border-t border-gray-400 mb-4"></div>

            <textarea name="content" placeholder="내용을 입력하세요" class="w-full mb-1 flex-1 min-h-32 border bg-white border-gray-300 rounded-md p-2
                focus:outline-none focus:ring-2 focus:ring-[#BFDDB8]"></textarea>

            <div class="flex gap-3">
                <button type="button" class=" w-1/2 py-2.5
                            bg-gray-200 text-gray-800 font-semibold
                            border border-gray-200
                            rounded-xl shadow-sm
                            hover:bg-gray-300
                            transition" onclick="closeModal()">
                    취소
                </button>
                <button type="button" class="w-1/2 py-2.5
                            bg-white text-gray-800 font-semibold
                            border border-gray-200
                            rounded-xl shadow-sm
                            hover:bg-[#BFDDB8]
                            transition">
                    질문 보내기
                </button>
            </div>
        </div>
    </div>
    {% endblock %}
</body>


</html>