<!-- 뼈대가 되는 html  -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>캡슐 보내기</title>

    <link 
        rel="stylesheet"
        href="{{ url_for('static', filename='css/output.css') }}"
</head>

<body>
    <!-- 헤더 -->
    {% include 'components/header.html' %}
    
    <!-- 화면 비율 상속 -->
    {% extends "base.html" %}
    {% block content %}
    
    

    {% endblock %}
    
</body>
</html>