<!-- 뼈대가 되는 html -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungle Capsule</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/output.css') }}"
    >
</head>

<body>
    <header class="bg-white py-4">
        <div class="flex justify-between items-center m-6">

            <!-- 로고 -->
            <a
                href="{{ url_for('capsule.main') }}"
                class="text-2xl font-bold text-black"
            >
                <img
                    src="{{ url_for('static', filename='images/jungle_capsule.png') }}"
                    width="100"
                    alt="정글 캡슐 로고"
                >
            </a>

            <!-- 사용자 정보 -->
            <div id="user-info" class="flex flex-col">

                <span class="text-right text-base">
                    <p>
                        {% if session.get('curriculum') %}
                            KRAFTON JUNGLE {{ session['curriculum'] }}
                        {% else %}
                            정보 없음
                        {% endif %}

                        {% if session.get('class') %}
                            {{ session['class'] }}기
                        {% else %}
                            정보 없음
                        {% endif %}
                    </p>
                </span>

                <span id="username" class="text-right text-xl">
                    <p>
                        {% if session.get('name') %}
                            {{ session['name'] }}
                        {% else %}
                            정보 없음
                        {% endif %}
                        님, 안녕하세요
                    </p>
                </span>

            </div>
        </div>
    </header>
</body>

</html>